<h1>새 글 작성하기</h1>
<form action="{%url 'create'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    제목 : <input type="text" name="title" value="" />
    본문 : <textarea name="content" id="" cols="30" rows="10"></textarea>
    사진 : <input type="file" name="image" />
{#    commnet: 태그 주석 해제#}
    <label for="tags">Tags:</label>
    <select name="tags" id="tags" multiple>
    {% for tag in tags %}
    <option value="{{ tag.id }}">{{ tag.name }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="작성하기" />
</form>

<a href="{% url 'home' %}">홈</a>